<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>slot1</key>
	<array>
		<string>group0.G=1:S=slot1]</string>
		<string>group0.Device_slot1</string>
	</array>
	<key>slot2</key>
	<array>
		<string>group0.G=1:S=slot2]</string>
		<string>group0.Device_slot2</string>
	</array>
	<key>slot3</key>
	<array>
		<string>group0.G=1:S=slot3]</string>
		<string>group0.Device_slot3</string>
	</array>
	<key>slot4</key>
	<array>
		<string>group0.G=1:S=slot4]</string>
		<string>group0.Device_slot4</string>
	</array>
</dict>
</plist>
