<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">
<dict>
	<key>Default</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>SEFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentSE/*.sefw</string>
				<key>VinylFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentVinyl/*.vnlfw</string>
			</dict>
		</dict>
	</dict>
	<key>J621</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>BasebandFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentBaseband/Mav2*.zip</string>
			</dict>
		</dict>
	</dict>
	<key>J621x</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>BasebandFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentBaseband/Mav2*.zip</string>
			</dict>
		</dict>
	</dict>
	<key>J621X</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>BasebandFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentBaseband/Mav2*.zip</string>
			</dict>
		</dict>
	</dict>
	<key>J622</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>BasebandFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentBaseband/Mav2*.zip</string>
			</dict>
		</dict>
	</dict>
	<key>J622x</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>BasebandFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentBaseband/Mav2*.zip</string>
			</dict>
		</dict>
	</dict>
	<key>J622X</key>
	<dict>
		<key>RestoreOptions</key>
		<dict>
			<key>BundleOverrides</key>
			<dict>
				<key>BasebandFirmware</key>
				<string>/Users/gdlocal/RestorePackage/CurrentBaseband/Mav2*.zip</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>

